<div class="s-header">
    <a href="#/" class="btn btn-nav btn-lg s-btn-left"><span class="glyphicon glyphicon-chevron-left"></span> Home</a>
    <h3>Book a Room</h3>
    <a href="#" class="btn btn-nav btn-lg s-btn-right"><span class="glyphicon glyphicon-map-marker"></span> Map</a>
</div>

<form class="form-horizontal" role="form">
  <div class="form-group form-group-lg">
    <label for="start-datetime" class="col-xs-3 control-label">When</label>
    <div class="col-xs-9">
      <input type="date" class="form-control" id="start-datetime">
    </div>
  </div>
  <div class="form-group form-group-lg">
    <label for="start-datetime" class="col-xs-3 control-label">Start</label>
    <div class="col-xs-9">
      <input type="time" class="form-control" id="start-datetime">
    </div>
  </div>
  <div class="form-group  form-group-lg">
    <label for="inputPassword3" class="col-xs-3 control-label">End</label>
    <div class="col-xs-9">
      <input type="time" class="form-control" id="inputPassword3" >
    </div>
  </div>
  <div class="form-group  form-group-lg">
    <label for="inputPassword3" class="col-xs-3 control-label">Participants</label>
    <div class="col-xs-9">
      <input type="range" min="5" max="20" class="form-control" id="inputPassword3" >
    </div>
  </div>
    <div class="form-group  form-group-lg">
    <label for="inputPassword3" class="col-xs-3 control-label">Purpose</label>
    <div class="col-xs-9">
      <input type="text" class="form-control" id="inputPassword3" >
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>