*{
	margin: 0; padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body, input, textarea{
	font-family: Consolas, monaco, monospace;
}

.wrapper{
	width: 100%;
	padding: 1em;
}
.hidden{
	height: 0;
	margin: 0;
	overflow: hidden;
	webkit-transition: all 0.5s ease;
}
textarea{
	font-size: 1.2em;
	padding: 0.4em;
	width: 100%;
	height: 2em;
	resize:none;
	overflow: hidden;
}
section{
	margin: 1em 0;
}
h3{
	margin: 0.3em 0;
}

img{
	max-width: 100%;
}

#what-i-have ul li span{
	color: white;
	background: rgba(0,0,0,0.4);
	display: block;
	min-height: 2.4em;
	position: absolute;
	bottom: 0.7em;
	right: 0.5em;
	left: 0.5em;
	padding: 0.5em;
}

#what-i-have ul{
    overflow: auto;
}

#what-i-have ul li{
    max-width: 50%;
    float: left;
    padding: 0.5em;
    position: relative;
}
.wrapper .mic-icon{
	color: #333;
	position: absolute;
	right: 1.5em;
	line-height: 2.4em;
}

.recording .mic-icon{
	color: red;
}

.recording textarea:focus{
	outline-color: red;
}

@media(max-width: 480px){
	#what-i-have ul li{
	    max-width: 100%;
	}
}

@media(min-width: 720px){
	#what-i-have ul li{
	    max-width: 33.33333%;
	}
}

@media(min-width: 920px){
	#what-i-have ul li{
	    max-width: 25%;
	}
}

