@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../assets/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../assets/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../assets/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../assets/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}



@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

$btn-nav-color: white;
$btn-nav-bg: rgba(0,0,0,0);
$btn-nav-border: rgba(0,0,0,0);
.btn-nav {
  @include button-variant($btn-nav-color, $btn-nav-bg, $btn-nav-border);
} 


$breakSmall: 480px;
$breakMedium: 720px;
$breakLarge: 920px;

@mixin responsive($media){
	@if $media == small-screens{
		@media only screen and (max-width: $breakSmall){
			@content;
		}
	}

	@else if $media == medium-screens{
		@media only screen and (min-width: $breakSmall + 1) and (max-width: $breakMedium){
			@content;
		}
	}

	@else if $media == wide-screens{
		@media only screen and (min-width: $breakLarge + 1){
			@content;
		}
	}
}

$bgColor: #fff;
$fontFamily: Consolas, monaco, monospace;
$fontColor: #333;
$themeColor: rgba(59, 89, 152, 1);

/* @mixin transition($property, $duration, $easing:"", $delay:""){
	-webkit-transition: $property $duration unquote($easing), unquote($delay);
	-moz-transition: $property $duration unquote($easing), unquote($delay);
	-ms-transition: $property $duration unquote($easing), unquote($delay);
	-o-transition: $property $duration unquote($easing), unquote($delay);
	transition: $property $duration unquote($easing), unquote($delay);
}
*/

@mixin transition($prop:""){
	-webkit-transition: unquote($prop);
	-moz-transition: unquote($prop);
	-ms-transition: unquote($prop);
	-o-transition: unquote($prop);
	transition: unquote($prop);
}

*{
	margin: 0; padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body, input, textarea{ 
	font-family: $fontFamily;
	background: $bgColor;
	color: $fontColor;
}

textarea{
	font-size: 1.2em;
	padding: 0.4em;
	width: 100%;
	height: 2em;
	resize:none;
	overflow: hidden;
}
section{
	margin: 1em 0;
}
h3{
	margin: 0.3em 0;
}

img{
	max-width: 100%;
}

.s-header{
  color: white;
  overflow: hidden;
  background-color: $themeColor;
  
  .s-btn-left{
    float: left !important;
  }
  .s-btn-right{
    float: right !important;
  }
  
  h3{
    width:100%;
    text-align: center;
    position: absolute;
    margin: 0.4em 0;
  }
}

.s-inline-block{
  display: inline-block !important;
}

.wrapper{
	width: 100%;
	/*padding: 1em;*/

	.mic-icon{
		color: $fontColor;
		position: absolute;
		right: 1.5em;
		line-height: 2.4em;
	}
}

.recording{
	.mic-icon{
		color: red;
	}
	textarea:focus{
		outline-color: red;
	}

}

.hidden{
	height: 0;
	margin: 0;
	overflow: hidden;
	@include transition(all 0.5s ease); 
}

#what-i-have{


	ul{
		overflow: auto;

		li{
			max-width: 50%;
			float: left;
			padding: 0.5em;
			position: relative;
			@include responsive(small-screens) {
				max-width: 100%;
			}
			@include responsive(medium-screens) {
				max-width: 50%;
			}
			@include responsive(wide-screens) {
				max-width: 33.333333%;
			}


			span{
				color: white;
				background: rgba(0,0,0,0.4);
				display: block;
				min-height: 2.4em;
				position: absolute;
				bottom: 0.7em;
				right: 0.5em;
				left: 0.5em;
				padding: 0.5em;

			}
		}
	}

}